USE [LSPI803_App]
GO
/****** Object:  Table [dbo].[Rpt_FgReport]    Script Date: 03/13/2021 23:49:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rpt_FgReport]') AND type in (N'U'))
DROP TABLE [dbo].[Rpt_FgReport]
GO
/****** Object:  Table [dbo].[Rpt_SalesSampleJO]    Script Date: 03/13/2021 23:49:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rpt_SalesSampleJO]') AND type in (N'U'))
DROP TABLE [dbo].[Rpt_SalesSampleJO]
GO
/****** Object:  Table [dbo].[Rpt_SalesSummary]    Script Date: 03/13/2021 23:49:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rpt_SalesSummary]') AND type in (N'U'))
DROP TABLE [dbo].[Rpt_SalesSummary]
GO
/****** Object:  Table [dbo].[Rpt_SalesSummary]    Script Date: 03/13/2021 23:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rpt_SalesSummary]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Rpt_SalesSummary](
	[inv_date] [datetime] NULL,
	[inv_num] [nvarchar](6) NULL,
	[ship_to_cust] [nvarchar](60) NULL,
	[inv_desc] [nvarchar](40) NULL,
	[amount] [decimal](23, 8) NULL,
	[amount_php] [decimal](23, 8) NULL,
	[exch_rate] [decimal](12, 7) NULL,
	[eng_design] [decimal](23, 8) NULL,
	[price] [decimal](23, 8) NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[Rpt_SalesSummary] ([inv_date], [inv_num], [ship_to_cust], [inv_desc], [amount], [amount_php], [exch_rate], [eng_design], [price]) VALUES (CAST(0x0000ABB100000000 AS DateTime), N'001889', N'DUX', N'PRODUCTS', CAST(406.76000000 AS Decimal(23, 8)), CAST(20577.98840000 AS Decimal(23, 8)), CAST(50.5900000 AS Decimal(12, 7)), CAST(0.00000000 AS Decimal(23, 8)), CAST(406.76000000 AS Decimal(23, 8)))
INSERT [dbo].[Rpt_SalesSummary] ([inv_date], [inv_num], [ship_to_cust], [inv_desc], [amount], [amount_php], [exch_rate], [eng_design], [price]) VALUES (CAST(0x0000ABB200000000 AS DateTime), N'001890', N'Line Seiki Co., Ltd.', N'PRODUCTS', CAST(49041.53000000 AS Decimal(23, 8)), CAST(2481011.00270000 AS Decimal(23, 8)), CAST(50.5900000 AS Decimal(12, 7)), CAST(0.00000000 AS Decimal(23, 8)), CAST(49041.53000000 AS Decimal(23, 8)))
INSERT [dbo].[Rpt_SalesSummary] ([inv_date], [inv_num], [ship_to_cust], [inv_desc], [amount], [amount_php], [exch_rate], [eng_design], [price]) VALUES (CAST(0x0000ABB300000000 AS DateTime), N'001886', N' - ', N'PRODUCT ENG'' DESIGN', CAST(5100.00000000 AS Decimal(23, 8)), CAST(258009.00000000 AS Decimal(23, 8)), CAST(50.5900000 AS Decimal(12, 7)), CAST(5100.00000000 AS Decimal(23, 8)), CAST(5100.00000000 AS Decimal(23, 8)))
/****** Object:  Table [dbo].[Rpt_SalesSampleJO]    Script Date: 03/13/2021 23:49:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rpt_SalesSampleJO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Rpt_SalesSampleJO](
	[TransDate] [datetime] NULL,
	[Item] [nvarchar](30) NULL,
	[ItemDesc] [nvarchar](40) NULL,
	[ProductCode] [nvarchar](10) NULL,
	[Family] [nvarchar](10) NULL,
	[FamilyDesc] [nvarchar](40) NULL,
	[PONum] [nvarchar](20) NULL,
	[LotNo] [nvarchar](15) NULL,
	[JobOrder] [nvarchar](20) NULL,
	[JobSuffix] [smallint] NULL,
	[CONum] [nvarchar](10) NULL,
	[COLine] [smallint] NULL,
	[CustNum] [nvarchar](7) NULL,
	[ShipToCust] [int] NULL,
	[CustomerName] [nvarchar](60) NULL,
	[QtyShipped] [decimal](19, 8) NULL,
	[SalesPrice] [decimal](23, 8) NULL,
	[SalesPriceConv] [decimal](23, 8) NULL,
	[StdMatlCost_PHP] [decimal](23, 8) NULL,
	[StdLandedCost_PHP] [decimal](23, 8) NULL,
	[StdResinCost_PHP] [decimal](23, 8) NULL,
	[StdPIProcess_PHP] [decimal](23, 8) NULL,
	[StdHiddenProfit_PHP] [decimal](23, 8) NULL,
	[StdSFAdded_PHP] [decimal](23, 8) NULL,
	[StdFGAdded_PHP] [decimal](23, 8) NULL,
	[StdUnitCost_PHP] [decimal](23, 8) NULL,
	[ActlMatlUnitCost_PHP] [decimal](23, 8) NULL,
	[ActlLandedCost_PHP] [decimal](23, 8) NULL,
	[ActlResinCost_PHP] [decimal](23, 8) NULL,
	[ActlPIProcess_PHP] [decimal](23, 8) NULL,
	[ActlHiddenProfit_PHP] [decimal](23, 8) NULL,
	[ActlSFAdded_PHP] [decimal](23, 8) NULL,
	[ActlFGAdded_PHP] [decimal](23, 8) NULL,
	[ActlUnitCost_PHP] [decimal](23, 8) NULL,
	[ShipCategory] [nvarchar](10) NULL,
	[Recoverable] [int] NULL,
	[JobRemarks] [nvarchar](200) NULL
) ON [PRIMARY]
END
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Rpt_FgReport]    Script Date: 03/13/2021 23:49:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rpt_FgReport]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Rpt_FgReport](
	[TransDate] [datetime] NULL,
	[PONum] [nvarchar](20) NULL,
	[JobOrder] [nvarchar](20) NULL,
	[JobSuffix] [smallint] NULL,
	[Item] [nvarchar](30) NULL,
	[ItemDesc] [nvarchar](40) NULL,
	[ProductCode] [nvarchar](10) NULL,
	[Family] [nvarchar](10) NULL,
	[FamilyDesc] [nvarchar](40) NULL,
	[CONum] [nvarchar](10) NULL,
	[CustNum] [nvarchar](7) NULL,
	[ShipToCust] [int] NULL,
	[CustomerName] [nvarchar](60) NULL,
	[FGTransType] [nvarchar](25) NULL,
	[QtyCompleted] [decimal](19, 8) NULL,
	[StdMatlCost_PHP] [decimal](23, 8) NULL,
	[StdLandedCost_PHP] [decimal](23, 8) NULL,
	[StdResinCost_PHP] [decimal](23, 8) NULL,
	[StdPIProcess_PHP] [decimal](23, 8) NULL,
	[StdHiddenProfit_PHP] [decimal](23, 8) NULL,
	[StdSFAdded_PHP] [decimal](23, 8) NULL,
	[StdFGAdded_PHP] [decimal](23, 8) NULL,
	[StdUnitCost_PHP] [decimal](23, 8) NULL,
	[ActlMatlUnitCost_PHP] [decimal](23, 8) NULL,
	[ActlLandedCost_PHP] [decimal](23, 8) NULL,
	[ActlResinCost_PHP] [decimal](23, 8) NULL,
	[ActlPIProcess_PHP] [decimal](23, 8) NULL,
	[ActlHiddenProfit_PHP] [decimal](23, 8) NULL,
	[ActlSFAdded_PHP] [decimal](23, 8) NULL,
	[ActlFGAdded_PHP] [decimal](23, 8) NULL,
	[ActlUnitCost_PHP] [decimal](23, 8) NULL
) ON [PRIMARY]
END
GO
print 'Processed 100 total records'
