USE [ERPReports]
GO
/****** Object:  Table [dbo].[prodcode]    Script Date: 04/04/2021 19:39:33 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[prodcode]') AND type in (N'U'))
DROP TABLE [dbo].[prodcode]
GO
/****** Object:  Table [dbo].[prodcode]    Script Date: 04/04/2021 19:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[prodcode]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[prodcode](
	[product_code] [nvarchar](10) NOT NULL,
	[Description] [nvarchar](40) NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[prodcode] ([product_code], [Description]) VALUES (N'ADM-SUP', N'ADMIN SUPPLIES')
INSERT [dbo].[prodcode] ([product_code], [Description]) VALUES (N'EXP AR LSJ', N'EXPORTATION COST')
INSERT [dbo].[prodcode] ([product_code], [Description]) VALUES (N'EXPORT', N'EXPORTATION COST')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
