USE LSPI803_App
GO
/****** Object:  UserDefinedDataType [dbo].[DateType]    Script Date: 11/16/2020 21:53:57 ******/
CREATE TYPE [dbo].[DateType] FROM [datetime] NULL
GO
/****** Object:  Table [dbo].[ProductivityIndex_Summary]    Script Date: 11/16/2020 21:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductivityIndex_Summary](
	[WorkCenterClassification] [nvarchar](50) NULL,
	[std_labor_min_1st] [decimal](38, 16) NOT NULL,
	[actl_labor_min_1st] [decimal](38, 8) NOT NULL,
	[std_labor_min_2nd] [decimal](38, 16) NOT NULL,
	[actl_labor_min_2nd] [decimal](38, 8) NOT NULL,
	[std_labor_min_all] [decimal](38, 16) NOT NULL,
	[actl_labor_min_all] [decimal](38, 8) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ProductivityIndex_Summary] ([WorkCenterClassification], [std_labor_min_1st], [actl_labor_min_1st], [std_labor_min_2nd], [actl_labor_min_2nd], [std_labor_min_all], [actl_labor_min_all]) VALUES (N'COB/ELEC/REFLOW/HEAT/INSP5', CAST(33949.8642522000000000 AS Decimal(38, 16)), CAST(2844.42000000 AS Decimal(38, 8)), CAST(4851.4888398000000000 AS Decimal(38, 16)), CAST(1107.96000000 AS Decimal(38, 8)), CAST(38801.3530920000000000 AS Decimal(38, 16)), CAST(3952.38000000 AS Decimal(38, 8)))
INSERT [dbo].[ProductivityIndex_Summary] ([WorkCenterClassification], [std_labor_min_1st], [actl_labor_min_1st], [std_labor_min_2nd], [actl_labor_min_2nd], [std_labor_min_all], [actl_labor_min_all]) VALUES (N'COIL ASSY', CAST(0.0000000000000000 AS Decimal(38, 16)), CAST(0.00000000 AS Decimal(38, 8)), CAST(0.0000000000000000 AS Decimal(38, 16)), CAST(0.00000000 AS Decimal(38, 8)), CAST(0.0000000000000000 AS Decimal(38, 16)), CAST(0.00000000 AS Decimal(38, 8)))
INSERT [dbo].[ProductivityIndex_Summary] ([WorkCenterClassification], [std_labor_min_1st], [actl_labor_min_1st], [std_labor_min_2nd], [actl_labor_min_2nd], [std_labor_min_all], [actl_labor_min_all]) VALUES (N'ELECTROMAGNETIC ASSY', CAST(0.0000000000000000 AS Decimal(38, 16)), CAST(7289.34000000 AS Decimal(38, 8)), CAST(0.0000000000000000 AS Decimal(38, 16)), CAST(3117.18000000 AS Decimal(38, 8)), CAST(0.0000000000000000 AS Decimal(38, 16)), CAST(10406.52000000 AS Decimal(38, 8)))
/****** Object:  Table [dbo].[ProductivityIndex_Detailed]    Script Date: 11/16/2020 21:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductivityIndex_Detailed](
	[job] [nvarchar](20) NULL,
	[suffix] [smallint] NULL,
	[item] [nvarchar](30) NOT NULL,
	[item_desc] [nvarchar](40) NULL,
	[trans_date] [datetime] NULL,
	[trans_type] [nchar](1) NULL,
	[qty_complete] [decimal](19, 8) NULL,
	[oper_num] [int] NOT NULL,
	[wc] [nvarchar](6) NULL,
	[wc_desc] [nvarchar](40) NULL,
	[std_unit] [decimal](15, 8) NULL,
	[labor_min_per_pc] [decimal](18, 8) NULL,
	[std_labor_hrs] [decimal](35, 16) NULL,
	[actl_labor_hrs] [decimal](19, 8) NOT NULL,
	[std_labor_min] [decimal](38, 16) NULL,
	[actl_labor_min] [decimal](22, 8) NULL,
	[WorkCenterClassification] [nvarchar](50) NULL,
	[start_time] [int] NOT NULL,
	[end_time] [int] NOT NULL
) ON [PRIMARY]
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
/****** Object:  StoredProcedure [dbo].[LSP_Rpt_ProductivityIndex_SummarySp]    Script Date: 11/16/2020 21:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LSP_Rpt_ProductivityIndex_SummarySp] (
--DECLARE  
	@StartDate		DateType --= '03/01/2020'  
  , @EndDate		DateType --= '03/31/2020'  
) AS
BEGIN

	SELECT * FROM ProductivityIndex_Summary

END
GO
/****** Object:  StoredProcedure [dbo].[LSP_Rpt_ProductivityIndex_DetailedSp]    Script Date: 11/16/2020 21:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LSP_Rpt_ProductivityIndex_DetailedSp] (
--DECLARE  
	@StartDate		DateType --= '03/01/2020'  
  , @EndDate		DateType --= '03/31/2020'  
  , @IsSummary		BIT		--= 0
) AS
BEGIN

	SELECT * FROM ProductivityIndex_Detailed

END
GO
