USE [LSPI803_App]
GO
/****** Object:  Table [dbo].[Rpt_MiscTransaction]    Script Date: 01/24/2021 11:50:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rpt_MiscTransaction]') AND type in (N'U'))
DROP TABLE [dbo].[Rpt_MiscTransaction]
GO
/****** Object:  Table [dbo].[Rpt_MiscTransaction]    Script Date: 01/24/2021 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rpt_MiscTransaction]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Rpt_MiscTransaction](
	[TransDate] [datetime] NULL,
	[TransType] [nvarchar](2) NULL,
	[TransDesc] [nvarchar](50) NULL,
	[JobOrLot] [nvarchar](50) NULL,
	[Suffix] [nvarchar](5) NULL,
	[Item] [nvarchar](40) NULL,
	[ItemDesc] [nvarchar](100) NULL,
	[QtyCompleted] [decimal](18, 8) NULL,
	[QtyScrapped] [decimal](18, 8) NULL,
	[OperNum] [nvarchar](10) NULL,
	[Wc] [nvarchar](50) NULL,
	[Employee] [nvarchar](20) NULL,
	[MiscTransClass] [nvarchar](5) NULL,
	[ReasonCode] [nvarchar](20) NULL,
	[ReasonDesc] [nvarchar](100) NULL,
	[TransQty] [decimal](38, 8) NULL,
	[MatlCost_PHP] [decimal](38, 8) NULL,
	[MatlLandedCost_PHP] [decimal](38, 8) NULL,
	[PIFGProcess_PHP] [decimal](38, 8) NULL,
	[PIResin_PHP] [decimal](38, 8) NULL,
	[PIHiddenProfit_PHP] [decimal](38, 8) NULL,
	[SFAddedCost_PHP] [decimal](38, 8) NULL,
	[FGAddedCost_PHP] [decimal](38, 8) NULL,
	[TotalCost_PHP] [decimal](38, 11) NULL
) ON [PRIMARY]
END
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
